//variables 
@use 'variables' as *;
@use 'mixins' as *;
#footer-index {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $footer-bg-color;
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-image {
  @include cover-background;
  z-index: -1;
}

.logos {
  @include center-flex;
  flex-wrap: wrap;
  gap: $gap-spacing;
  margin-top: $margin-top-small;
}

.logo {
  width: $logo-size;
  height: auto;
}

.H2-Footer {
  margin-top: $margin-top-small;
  color: $white-color;
  text-align: center;
}

//footer nuevos
#footer-nuevo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $gap-spacing;
  padding: $gap-spacing;
  background-color: #0b0043;
  color: $white-color;
  min-height: 180px;
}

.section5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.section4 {
  display: block;
  width: 100%;
}

.h2-footer-nuevos {
  text-align: center;
  margin-bottom: $margin-top-small;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  overflow: hidden;
  padding: $gap-spacing;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  gap: 15px;
  width: 100%;
}

.footer-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: $white-color;
}

// footer juegos 

footer {
  margin-top: 50px;

  a {
      transition: color 0.3s ease;

      &:hover {
          color: $tertiary-color;
          text-decoration: none;
      }
  }

  .font-weight-bold {
      font-weight: 700;
  }

  .text-uppercase {
      text-transform: uppercase;
  }

  .text-muted {
      font-size: 0.875rem;
  }

  i {
      font-size: 1.25rem;
  }

  .input-group {
      max-width: 300px;
      margin: 0 auto;
  }
}
