//variables 
@use 'variables' as *;
@use 'mixins' as *;
#footer-index {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $footer-bg-color;
}

.footer-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-image {
  @include cover-background;
  z-index: -1;
}

.logos {
  @include center-flex;
  flex-wrap: wrap;
  gap: $gap-spacing;
  margin-top: $margin-top-small;
}

.logo {
  width: $logo-size;
  height: auto;
}

.H2-Footer {
  margin-top: $margin-top-small;
  color: $white-color;
  text-align: center;
}

