@use 'mixins' as *;

//main nuevos 
#body-nuevos {
    background-image: url('icons/fondoblanco.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-areas:
      "header header header header"
      "nav    nav    nav    nav"
      "main   main   main   main"
      "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10vh auto 1fr 10vh;
    min-height: 100vh;
    column-gap: 1px;
    row-gap: 1px;
  }
  //Main juegos
 
    


