//Links

 $primary-gradient: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
 $hover-gradient: linear-gradient(135deg, #ff6a00 0%, #ee0979 100%);
$dark-background: #121212;
$white: #ffffff;
// Variables globales
// colores
$primary-color: #006fe6;
$secondary-color-alt: crimson;
//Main juegos colores 
$primary-color: #006fe6;
$secondary-color: #555;
$tertiary-color: #2ecc71;


//Letras
$font-family-main: Arial, Helvetica, sans-serif;
$font-family-secondary: 'Pacifico', cursive;
$font-family-tertiary: 'Roboto', sans-serif;

//gradiantes

$gradient-colors: linear-gradient( 45deg, #ff9a9e, #fad0c4, #fbc2eb, #a1c4fd, #c2e9fb);

//footer index
// _variables.scss
$footer-bg-color: rgba(0, 0, 0, 0.8);
$white-color: #fff;
$logo-size: 30px;
$gap-spacing: 20px;
$margin-top-small: 10px;



// Agregar variables faltantes
$border-radius-2: 8px;
$font-size-base-1: 1rem;

$white: #ffffff;

$idx-primary-gradient: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
$idx-hover-gradient: linear-gradient(135deg, #ff6a00 0%, #ee0979 100%);
$idx-dark-background: #121212;
$idx-white: #ffffff;